.About__wrapper{
  width: 100%;
  min-height: 100vh;
  background: white;
  padding-top: 0px;
}

.About__wrapper p{
  margin-bottom: 2rem;
}

.About__logo_wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .About__wrapper{
    padding-top: 30px;

  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
