.ChaptersSwitcher__chapters_container {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #F2F2ED;
  z-index: 999;
  overflow:hidden;
}

.ChaptersSwitcher__chapters__inner_container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.ChaptersSwitcher__chapters_top {
  z-index: 12;
  width: 100%;
  height: 58px;
  border-bottom: 1px solid #DBDBD0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ChaptersSwitcher__chapters_top h6{
  margin: 0px;
  color: #F36455;
}

.ChaptersSwitcher__chapters_back_btn{
  background: transparent;
  border-color: white;
  border-radius: 23px;
  color:#DC715A;
  font-weight: 500;
  cursor: pointer;
}

.ChaptersSwitcher__chapter_scroll_container {
   overflow: scroll;
    position:absolute;
    height: calc(100% - 58px);
    width:100%;
}

.ChaptersSwitcher__chapter {
  width: 100%;
  height: 210px;
  color: #111;
  text-align: center;
  border-bottom: 1px solid #DBDBD0;
  position: relative;
}

.ChaptersSwitcher__chapter_title {
  z-index: 11;
  color: #111;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%
}

.ChaptersSwitcher__chapter_title a {
  color: #111;
  text-decoration: none;
}

.ChaptersSwitcher__chapter_title a:hover {
  color: #F36455;
  text-decoration: none;
}

.ChaptersSwitcher__chapter_title h3{
  font-size: 1.875rem;
}


.ChaptersSwitcher__chapter_num {
  display: flex;
  z-index: 10;
  color: #EFCAC1;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%
}

.ChaptersSwitcher__chapter_num h2 {
  font-size: 12.5rem;
  margin: -50px 0 0 0;
  font-style: italic;
}

/* CSS transition styles */
.chapter-enter {
  transition: transform 500ms;
  transform: translateX(100%);
}

.chapter-enter.chapter-enter-active {
  transform: translateX(0%);
}

.chapter-leave {
  transition: transform 500ms;
  transform: translateX(0%);
}

.chapter-leave.chapter-leave-active {
  transform: translateX(100%);
}


/* media queries */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .ChaptersSwitcher__chapters_top {
    height: 80px;
  }

  .ChaptersSwitcher__chapter_scroll_container {
      height: calc(100% - 80px);
  }

  .ChaptersSwitcher__chapters_container{
      width: 375px;
  }

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
