.Themes__container {
  background-color: #333332;
  margin-top: -60px;
  padding-top: 60px;
  min-height: calc(100vh + 60px);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url(/home_bkg/background_transparent.png);
  transition: background-image 600ms ease-in-out 300ms;
}

.Themes__TitleRow {
  margin-top: 40px;
  margin-bottom: 40px;
}

.Themes__TitleRow h1 {
  font-size: 4.5em;
  margin: auto;
  color: #F36455;
}

.Themes__theme_title_container {
  width: 100%;
  margin-bottom: 50px;
}

.Themes__theme_title_container hr {
  border: 1px solid #fff;
  width: 20%;
}

.Themes__theme_title {
  color: #fff;
  margin: auto;
  padding: 25px;
  text-transform: uppercase;
}

.Themes__hand_pointer_left {
  font-size: 23px!important;
  position: relative;
  left: -50px;
}

.Themes__hand_pointer_right {
  font-size: 23px!important;
  position: relative;
  right: -50px;
}


@media (max-width: 767px) {
  .Themes__container {
    background-image: none!important;
  }
  .Themes__theme_container {
    padding: 40px;
    margin: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .Themes__theme_title_container hr {
    width: 60%;
  }
  .Themes__theme_title {
    padding: 5px;
  }
  .Themes__hand_pointer_right,
  .Themes__hand_pointer_left {
    display: none;
  }
}
