.TimelineExpandableItem__containerClose {
  margin: 10px;
  width: initial!important;
  margin-right: 10px!important;
  background-color: #fff;
  height: 120px;
  padding: 20px;
  border: 1px solid #DBDBD0;
}

.TimelineExpandableItem__containerOpen {
  margin: 10px;
  width: initial!important;
  margin-right: 10px!important;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #DBDBD0;
}

.TimelineExpandableItem__title {
  color:#F36455;
  font-size: 2em;
}

.TimelineExpandableItem__titleContainerOpen {
  margin-bottom: 20px;
}

.TimelineExpandableItem__flex_container {
  display: inline-flex;
  width: 100%;
}

.TimelineExpandableItem__btn_container,
.TimelineExpandableItem__date_container {
  min-width: 130px;
}

.TimelineExpandableItem__btn_container {
  margin-left: auto;
  display: flex;
}

.TimelineExpandableItem__btn {
  margin-left: auto;
  border-radius: 100%;
  border: 0.5px solid #DBDBD0;
  padding: 4px;
  width: 40px;
  background-color: #fff;
  font-size: 22px;
  height: 40px;
}

.TimelineExpandableItem__btn:hover {
  background-color: #333;
  color: #fff;
}

.TimelineExpandableItem__text {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #DBDBD0;
  border-bottom: 1px solid #DBDBD0;
}

.TimelineExpandableItem__imgTitle {
  font-weight: 600;
}

.TimelineExpandableItem__img {
  margin-left: 5px;
}

@media (max-width: 991px) {
  .TimelineExpandableItem__title {
    font-size: 1.5em;
  }
}

@media (max-width: 576px) {
  .TimelineExpandableItem__title {
    font-size: 1em;
  }
  .TimelineExpandableItem__btn_container,
  .TimelineExpandableItem__date_container {
    min-width: 70px;
  }
  .TimelineExpandableItem__date_container p {
    font-size: 12px;
  }
  .TimelineExpandableItem__containerClose,
  .TimelineExpandableItem__containerOpen {
    padding: 10px;
  }
}
