.Collection__List--sidebar-open {
  width: 100%;
  position: relative;
  transition: width 0.5s;
  background-color: #eee;
}

.Collection__List--sidebar-close {
  width: 100%;
  position: relative;
  transition: width 0.5s;
  background-color: #eee;
}

.Collection__List--list-heading {
  height: 58px;
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #DBDBD0;
}

.Collection__List--list-heading h2 {
  margin: 0 0 0 58px;
  font-size: 1.5rem;
  text-align: center;
  flex-grow: 1;
}

.Collection__items_shown {
  text-transform: uppercase;
  margin-left: auto;
  font-size: 0.875rem;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.Collection__open_heading_btn {
  background-color: #fff;
  border: none;
  padding-top: 14px;
  cursor: pointer;
}

.Collection__open_heading_btn:hover{
  background-color: white;
  border-color: white;
}

.Collection__open_heading_btn:focus,
.Collection__open_heading_btn.focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.Collection__open_heading_btn:active,
.Collection__open_heading_btn.active{
  background-color: white;
}


/* CSS transition styles */
.filters-enter {
  transform: translateX(100%);
}

.filters-enter.filters-enter-active {
  transform: translateX(0%);
  transition: transform 500ms;
}

.filters-leave {
  transition: transform 500ms;
  transform: translateX(0%);
}

.filters-leave.filters-leave-active {
  transform: translateX(100%);
}
/* end of CSS transition styles */


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .Collection__List--list-heading h2 {
    font-size: 2.25rem;
    text-align: left;
    flex-grow: 0;
    margin: 0 0 0 20px;
  }

  .Collection__List--list-heading{
    height: 100px;
  }

  .Collection__List--sidebar-open{
    width: calc(100% - 300px);
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
