.EducationDetail {
  margin-bottom: 100px;
  background-color: #eee;
}

.EducationDetail__top {
  background-color: white;
}

.EducationDetail__h6 {
  color: #F36455;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 25px;
}

.EducationDetail__DownloadBtn {
  margin-top: 15px;
  font-family: 'Atlas Grotesk Web';
  font-weight: 400;
  color: #000;
  display: inline-flex;
  border-radius: 23px;
}

.EducationDetail__imageCaption {
  display: flex;
  background-color: white;
  padding: 10px;
}

.EducationDetail__imageCaption :first-child {
  padding-right: 10px;
}

.EducationDetail__DocLink {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 200;
}

.EducationDetail__DocLink a:hover,
.EducationDetail__DocLink a:focus
{
  text-decoration: none;
  color: #292b2c;
}
