.CollectionDoc {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.CollectionDoc.squared {
  height: 100%;
  width: 100%;
}

.CollectionDoc.squared img {
  object-fit: cover;
}

.CollectionDoc__frame{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  background-color: transparent;
  border: 10px solid white;
  box-sizing: border-box;
  pointer-events: none;
}

.CollectionDoc__frame.CollectionDoc__frame_over_video{
  background-image: url('/img/video.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}

.CollectionDoc__frame.CollectionDoc__frame_over_audio{
  background-image: url('/img/audio.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50%;
}

@media (max-width: 991px) {
  .CollectionDoc__frame{
    border: 5px solid white;
  }
}

.CollectionDoc a img{
  transition: all 0.5s;
  -webkit-filter: brightness(100%);
  -moz-filter: brightness(100%);
  -ms-filter: brightness(100%);
  filter: brightness(100%);
  width: 100%;
  height: 100%;
}

.CollectionDoc a:hover,
.CollectionDoc a:focus
{
  text-decoration: none;
  color: #292b2c;
}

.CollectionDoc a:hover img{
  transform: scale(1.1);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -ms-filter: brightness(75%);
  filter: brightness(75%);
}

.CollectionDoc__Image {
  width: auto;
  max-width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
}

.CollectionDoc__inner_container {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DBDBD0;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.CollectionDoc__inner_container.squared {
  height: 100%;
}

.CollectionDoc__inner_container_audio {
  background-color: #000;
  color: #fff;
}

.CollectionDoc__Link{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
}
