.BigTitle__title {
  font-size: 1.5rem;
  border-bottom: 1px solid #DBDBD0;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 10;
  margin-left: -15px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .BigTitle__title {
    position: relative;
    margin-left: 0px;
    font-size: 6.25rem;
    height: auto;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
