.BigTitle__container {
  background-color: #fff;
  padding: 30px;
  padding-left: 40px;
}

.BigTitle__TitleRow {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DBDBD0;
}

.BigTitle__title {
  font-size: 4.5em;
}
