.YearsBar__Bar--count {
  fill: #F56350;
  fill-opacity: 0.3;
  stroke: #fff;
  stroke-width: 2px;
}

.YearsBar__Bar--count-filtered {
  fill: #F56350;
  fill-opacity: 0.8;
  stroke: #fff;
}

.YearsBar__Label,
.YearsRange__Uncertain {
  font-size: 0.8rem;
  font-family: "Atlas Grotesk", Arial, sans-serif;
}

.rc-slider-handle{
  border: solid 2px #F56350;
}

.rc-slider-track{
  background-color: #F56350;
}

.custom-control-input:checked ~ .custom-control-indicator{
  background-color: #F56350;
}

.custom-control-input:focus ~ .custom-control-indicator{
  box-shadow: none;
}
