.Timeline__TopRow {
  height: 100px;
  background-color: #fff;
  border-bottom: 1px solid #DBDBD0;
}

.Timeline__TopRow h2 {
  margin-left: 70px;
  padding-top: 30px;
}

.Timeline__TimelineNav {
  text-align: center;
}

.Timeline__yearsContainer {
  width: 60px;
  text-align: center;
  margin: auto;
  height: 100%;
  border-left: 0.5px solid #DBDBD0;
  border-right: 0.5px solid #DBDBD0;
}

.Timeline__scrollingCol {
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

@media (max-width: 767px) {
  .Timeline__yearsContainer {
    display: inline-flex;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
  }
}
