.Timeline__Wrapper{
  position: relative;
  background-color: #eee;
}

.Timeline__TopRow {
  height: 58px;
  background-color: #fff;
  border-bottom: 1px solid #DBDBD0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 999;
}

.Timeline__TopRow h2{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0px;
}

.Timeline__Content{
  padding-top: 58px;
}

.Timeline__TimelineNav {
  padding: 0px;
}

.Timeline__yearsContainer {
  text-align: center;
  height: 100%;
  border-left: 0.5px solid #DBDBD0;
  border-right: 0.5px solid #DBDBD0;
  overflow-x: scroll;
}

.Timeline__scrollingCol {
  overflow-y: scroll;
  height: calc(100vh - 100px);
}

.Timeline__expandable_wrapper{
  background: white;
  margin: 15px 0px;
  min-height: 150px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .Timeline__TimelineNav {
    padding: 0px 15px;
  }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .Timeline__TopRow {
    height: 100px;
  }

  .Timeline__TopRow h2{
    font-size: 2rem;
    text-align: left;
  }

  .Timeline__Content{
    padding-top: 100px;
  }

  .Timeline__yearsContainer {
    overflow-x: inherit;
  }
  .Timeline__TimelineNav {
    padding: 0px 15px;
  }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }
