.Home__MainRow {
  margin-top: 300px;
  padding-bottom: 280px;
  text-align: center;
  border-bottom: 1px solid;
}

.Home__title {
  font-size: 4.5em;
}

.Home__MainRow-yearsCol {
  text-align: center;
}

.Home__MainRow-yearsCol h3 {
  color: #F36455;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 0.5px solid #333;
  border-bottom: 0.5px solid #333;
}

.Home__NavigationRow {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.Home__NavigationCol_h6 {
  text-transform: uppercase;
  font-size: 15px;
  color: #F36455;
}

.Home__NavigationCol {
  padding-bottom: 20px;
  padding-top: 10px;
}

.Home__NavigationCol_themes,
.Home__NavigationCol_collection,
.Home__NavigationCol_map {
  border-right: 1px solid;
}

/* media queries */
@media (max-width: 1199px) {
  .Home__MainRow-yearsCol h3 {
    font-size: 1.5em;
  }
  .Home__title {
    font-size: 3.5em;
  }
  .Home_subtitle {
    font-size: 1em;
  }
}

@media (max-width: 997px) {
  .Home__MainRow-yearsCol h3 {
    font-size: 1em;
  }
  .Home__title {
    font-size: 4em;
  }
  .Home__subtitle {
    font-size: 16px;
  }
  .Home__MainRow-yearsCol {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 767px) {
  .Home__MainRow-yearsCol h3 {
    font-size: 14px;
  }
  .Home__title {
    font-size: 36px;
  }
  .Home__NavigationCol_collection {
    border-right: 0px;
    border-bottom: 1px solid;
    position: relative;
    bottom: -1px;
  }
  .Home__NavigationCol_themes {
    margin-bottom: 10px;
  }
  .Home__NavigationCol_map {
    border-top: 1px solid;
    border-right: 0px;
    padding-top: 20px;
  }
  .Home__NavigationCol_timeline {
    margin-top: 10px;
    border-left: 1px solid;
  }
  .Home__MainRow-yearsCol {
    padding-left: 0px;
    padding-right: 0px;
  }
  .Home__container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
