.SideMenu,
.SideMenu-close {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 58px;
  background-color: #333;
  text-align: center;
}

.SideMenu__menuBtn {
  background-color: transparent;
  border: none;
  padding: 0px;
  flex-grow: 0;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.SideMenu__menuBtn:hover {
  color: #F56350;
  background-color: transparent;
}

.SideMenu__menuBtn:focus,
.SideMenu__menuBtn.focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.SideMenu__menuBtn:active,
.SideMenu__menuBtn.active{
  background-color: transparent;
}


.SideMenu__menuBtn-text {
  flex-grow: 0;
}

.SideMenu__menuBtn-text h6{
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin: 0px;
}

/* CSS transition styles */
.sidemenu-enter {
  /*opacity: 0;*/
  transition: margin-left 500ms ease-out;
  margin-left: -350px;
}

.sidemenu-enter.sidemenu-enter-active {
  /*
  opacity: 1;
  transition: opacity 500ms ease-in;
  */
  margin-left: 0;
}

.sidemenu-leave {
  transition: margin-left 300ms ease-out;
  margin-left: 0;
  /*
  opacity: 1;
  */
}

.sidemenu-leave.sidemenu-leave-active {
  margin-left: -350px;
  /*
  opacity: 0;
  transition: opacity 300ms ease-in;
  */
}

.SideMenu__vertical_title_container_close,
.SideMenu__vertical_title_container {
  flex-grow: 1;
}

.SideMenu__vertical_title {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  color: #fff;
  margin: 0px;
  align-self: center;
  font-family: 'Behrens antiqua', Georgia, serif;
  letter-spacing: 3px;
  white-space: nowrap;
}

.SideMenu__langBtn {
  background-color: transparent;
  border: none;
  color: #fff;
  border-bottom: 2px solid #F56350;
  border-radius: 0px;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-weight: 500;
  flex-grow: 0;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}

.SideMenu__langBtn:hover {
  color: #F56350;
  background-color: transparent;
}

.SideMenu__langBtn:focus,
.SideMenu__langBtn.focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.SideMenu__langBtn:active,
.SideMenu__langBtn.active{
  background-color: transparent;
}

@media (max-width: 767px) {
  .SideMenu {
    bottom: auto;
    width: 100%;
    text-align: left;
    display: inline-flex;
    justify-content: initial;
  }
  .SideMenu-close {
    bottom: auto;
    width: 100%;
    text-align: left;
    background-color: transparent;
  }
  .SideMenu__menuBtn {
   align-self: flex-start;
  }
  .SideMenu__langBtn,
  .SideMenu__menuBtn-text {
    display: none!important;
  }
  .SideMenu__icon {
    color: #F36455;
  }
 .SideMenu__vertical_title {
   -ms-transform: rotate(0deg); /* IE 9 */
   -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
   transform: rotate(0deg);
   top: 25px;
   margin-bottom: 0px;
 }
 .SideMenu__vertical_title_container{
   flex-direction: row;
 }
 .SideMenu__vertical_title_container_close {
   display: none;
 }
}
