.SideMenu,
.SideMenu-close {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 58px;
  background-color: #333;
  text-align: center;

}

.SideMenu__menuBtn {
  background-color: transparent!important;
  padding: 0px!important;
  font-size: 35px!important;
  color: #fff!important;
  width: 60px;
  border: 0px!important;
  margin-top: 20px;
}

.SideMenu__menuBtn-text {
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: lighter!important;
  margin-top: 0px;
}

.sidemenu-enter {
  /*opacity: 0;*/
  transition: margin-left 500ms ease-out;
  margin-left: -350px;
}

.sidemenu-enter.sidemenu-enter-active {
  /*
  opacity: 1;
  transition: opacity 500ms ease-in;
  */
  margin-left: 0;
}

.sidemenu-leave {
  transition: margin-left 300ms ease-out;
  margin-left: 0;
  /*
  opacity: 1;
  */
}

.sidemenu-leave.sidemenu-leave-active {
  margin-left: -350px;
  /*
  opacity: 0;
  transition: opacity 300ms ease-in;
  */
}

@media (max-width: 767px) {
  .SideMenu {
    bottom: auto;
    width: 100%;
    text-align: left;
  }
  .SideMenu-close {
    bottom: auto;
    width: 100%;
    text-align: left;
    background-color: transparent;
  }
  .SideMenu__menuBtn {
    margin-top: 25px;
  }
  .SideMenu__menuBtn-text {
    display: none;
  }
  .SideMenu__icon {
    color: #F36455;
  }
}
