.Layout {
  height: 100%;
}

.Layout__Container {
  padding-left: 58px;
  background-color: #eee;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}

@media (max-width: 767px) {
  .Layout__Container {
    padding-left: 0px;
  }
}
