.Layout {
  height: 100%;
}

.Layout__Container {
  padding-left: 0px;
  background-color: #eee;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .Layout__Container {
    padding-left: 58px;
  }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }
