.Theme__container {
  height: 100vh;
  position: relative;
  overflow-y: auto;
}

.Theme__wrapper{
  height: 100vh;
  width: 100%;
  position:relative;
}

.Theme__title{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  background: white;
  height: 58px;
  z-index: 998;
}

.Theme__info_wrapper h6{
  color: #F56350;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Theme__title h2{
  font-size: 1.5rem;
}

.Theme__info_wrapper h1 {
  font-family: "Behrens Antiqua", Georgia, serif;
  font-size: 1.85rem;
  text-transform: uppercase;
  color: white;
  animation-delay: 0.3s;
}

.Theme__info_wrapper p {
  font-size: 1.125rem;
  font-style: italic;
  color: white;
  animation-delay: 0.6s;
}

.Theme__start_btn {
  border-radius: 100px;
  text-transform: uppercase;
  animation-delay: 1s;
}

.Theme__chapters_btn_container {
  position: absolute;
  top: 2px;
  right: 10px;
  display: inline-flex;
  padding: 5px;
  color: #F56350;
  justify-content: center;
  align-items: center;
}

.Theme__chapters_btn {
  color: #FFF;
  border-radius: 100%;
  margin-left: 20px;
  background-color: rgba(34, 34, 32, 0.9);
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  padding-top: 8px;
  cursor: pointer;
  z-index: 9999;
}


.Theme__chapters_btn:hover {
  color: rgba(34, 34, 32, 0.9);
  background-color: #fff;
  border: 1px solid rgba(34, 34, 32, 0.9);
}


/* media queries */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .Theme__info_wrapper h1 {
    font-size: 5.265rem;
  }

  .Theme__info_wrapper p {
    font-size: 1.5rem;
  }

  .Theme__chapters_btn_container {
    top: 10px;
  }

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
