.Theme__container {
  height: 100vh;
  position: relative;
}

.Theme__wrapper{
  height: 100vh;
  width: 100%;
  position:relative;
}

.Theme__info_wrapper{
  display: flex;
  align-items: center;
  height: 100vh;
}

.Theme__info_wrapper > .row{
  width: 100%;
}

.Theme__info_wrapper h6{
  color: #F56350;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Theme__info_wrapper h1 {
  font-family: "Behrens Antiqua", Georgia, serif;
  font-size: 5.265rem;
  text-transform: uppercase;
  color: white;
}

.Theme__text_container {
  max-width: 60%;
}

.Theme__text_container p {
  font-size: 1.5rem;
  font-style: italic;
  color: white;
}

.Theme__start_btn {
  height: 45px;
  width: 110px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  color: rgba(34, 34, 32, 0.9);
  background-color: #FFFFFF;
}

.Theme__start_btn:hover {
  color: #fff;
  background-color: rgba(34, 34, 32, 0.9);
  border: 1px solid rgba(34, 34, 32, 0.9);
}

.Theme__chapters_btn_container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  padding: 5px;
  color: #F56350;
  justify-content: center;
  align-items: center;
}

.Theme__chapters_btn {
  color: #FFF;
  border-radius: 100%;
  margin-left: 20px;
  background-color: rgba(34, 34, 32, 0.9);
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  padding-top: 8px;
  cursor: pointer;
  z-index: 10;
}

.Theme__chapters_btn:hover {
  color: rgba(34, 34, 32, 0.9);
  background-color: #fff;
  border: 1px solid rgba(34, 34, 32, 0.9);
}

.Theme__chapters_container {
  position: absolute;
  right: 0;
  top: 0;
  width: 375px;
  height: 100%;
  background-color: #F2F2ED;
  overflow:hidden;
}

.Theme__chapters__inner_container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.Theme__chapters_top {
  z-index: 12;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #DBDBD0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Theme__chapters_back_btn{
  background: transparent;
  border-color: white;
  border-radius: 23px;
  color:#DC715A;
  font-weight: 500;
  cursor: pointer;
}

.Theme__chapter_scroll_container {
   overflow: scroll;
    position:absolute;
    height: calc(100% - 80px);
    width:100%;
}

.Theme__chapter {
  width: 100%;
  height: 210px;
  color: #111;
  text-align: center;
  border-bottom: 1px solid #DBDBD0;
  position: relative;
}

.Theme__chapter_title {
  z-index: 11;
  color: #111;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%
}

.Theme__chapter_title a {
  color: #111;
  text-decoration: none;
}

.Theme__chapter_title a:hover {
  color: #F36455;
  text-decoration: none;
}

.Theme__chapter_title h3{
  font-size: 1.875rem;
}


.Theme__chapter_num {
  display: flex;
  z-index: 10;
  color: #EFCAC1;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%
}

.Theme__chapter_num h2 {
  font-size: 12.5rem;
  margin: -50px 0 0 0;
  font-style: italic;
}

/* CSS transition styles */
.chapter-enter {
  transition: transform 500ms;
  transform: translateX(100%);
}

.chapter-enter.chapter-enter-active {
  transform: translateX(0%);
}

.chapter-leave {
  transition: transform 500ms;
  transform: translateX(0%);
}

.chapter-leave.chapter-leave-active {
  transform: translateX(100%);
}
