.CollectionFilters__container {
  position: fixed;
  width: 300px;
  top: 0;
  bottom: 0;
  right: 0px;
  overflow: scroll;
  background-color: #fff;
}

.CollectionFilters__input_container {
  height: 100px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #DBDBD0;
}

.CollectionFilters__input_container_icon {
  margin-right: 10px;
}

.CollectionFilters__input {
  border: 0px;
  width: 100%;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: bold;
}

.CollectionFilters__input::placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input::-webkit-input-placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input::placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input:-ms-input-placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input:-moz-placeholder{
      font-style: italic;
      font-weight: normal;
}


.CollectionFilters__reset_container {
  border-bottom: 0.3px solid #DBDBD0;
  padding: 15px;
}

.CollectionFilters__reset_title {
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0px;
}

.CollectionFilters__reset {
  margin: 0px;
  margin-left: auto;
  text-decoration: underline!important;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.CollectionFilters__filter_container {
  padding: 15px;
  border-bottom: 1px solid #DBDBD0;
}

.CollectionFilters__filter_wrapper{
  margin: 5px 0px;
  cursor: pointer;
}

.CollectionFilters__filter {
  margin-bottom: 0px;
  text-transform: capitalize;
}

.CollectionFilters__filter_badge {
  background-color: #F36455;
  font-weight: normal;
  font-size: 0.875rem;
  width: 30px;
  border-radius: 15px;
  font-family: "Atlas Grotesk", Arial, sans-serif;
}

.CollectionFilters__time{
  padding: 15px;
}

/*@media (max-width: 991px) {
  .CollectionFilters__container {
    width: 25%;
    left: 75%;
  }
}*/
