.CollectionFilters__container {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  overflow: scroll;
  background-color: #fff;
  padding-top: 58px;
  height: 100vh;
  z-index: 9999;
}

.CollectionFilters__input_container {
  position: relative;
  top: 0;
  height: 60px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fff;
  width: 100%;
  border-bottom: 1px solid #DBDBD0;
}

.CollectionFilters__input_container form{
  width: 100%;
}

.CollectionFilters__filtermobile_title{
  position: fixed;
  top:0px;
  height: 58px;
  z-index: 9999;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #DBDBD0;
}

.CollectionFilters__filtermobile_title__check{
    background-color: #fff;
    border: none;
    padding-top: 14px;
    cursor: pointer;
    color: #F56350;
}

.CollectionFilters__filtermobile_title h2{
  flex-grow: 1;
  text-align: center;
  margin-left: 58px;
  font-size: 1.5rem;
}

.CollectionFilters__input_container_icon {
  margin-right: 10px;
}

.CollectionFilters__input {
  border: 0px;
  width: 100%;
  font-family: Georgia, serif;
  font-style: normal;
  font-weight: bold;
}

.CollectionFilters__input::placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input::-webkit-input-placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input::placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input:-ms-input-placeholder{
      font-style: italic;
      font-weight: normal;
}

.CollectionFilters__input:-moz-placeholder{
      font-style: italic;
      font-weight: normal;
}


.CollectionFilters__reset_container {
  border-bottom: 0.3px solid #DBDBD0;
  padding: 15px;
  background-color: white;
}

.CollectionFilters__reset_title {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 0px;
}

.CollectionFilters__reset {
  margin: 0px;
  margin-left: auto;
  text-decoration: underline!important;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.CollectionFilters__filter_container {
  padding: 0px;
  border-bottom: 1px solid #DBDBD0;
  margin-bottom: 30px;
}

.CollectionFilters__filter_wrapper{
  margin: 0px;
  padding: 10px 15px;
  cursor: pointer;
  border-bottom: 1px solid #DBDBD0;
  align-items: center;
}

.CollectionFilters__filter_wrapper:last-of-type{
  border-bottom: none;
}

.CollectionFilters__filter {
  margin-bottom: 0px;
  text-transform: capitalize;
}

.CollectionFilters__filter_badge {
  background-color: #F36455;
  font-weight: normal;
  font-size: 0.875rem;
  min-width: 30px;
  border-radius: 15px;
  font-family: "Atlas Grotesk", Arial, sans-serif;
  padding-top: 6px;
  height: 24px;
}

.CollectionFilters__time{
  padding: 15px;
}

.CollectionFilters__autocompleteItem{
  padding: 15px 10px;
  cursor: pointer;
  font-size: 1rem;
}

.CollectionFilters__autocompleteItem.active{
  background-color: #DBDBD0;
}

.CollectionFilters__autocomplete_reset{
  cursor: pointer;
  padding-right: 10px;
  text-decoration: underline !important;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-weight: 400;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .CollectionFilters__container {
    width: 300px;
  }

  .CollectionFilters__input_container {
    position: absolute;
    top: 0;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .CollectionFilters__container {
    padding-top: 101px;
  }

  .CollectionFilters__filter_container {
    padding: 15px;
    margin-bottom: 0px;
  }

  .CollectionFilters__filter_wrapper{
    margin: 5px 0px;
    padding: 0px;
    border-bottom: none;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
