.EducationExpandableItem {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid #DBDBD0;
}

.EducationExpandableItem__topRow {
  display: flex;
  align-items: center;
}

.EducationExpandableItem__counter,
.EducationExpandableItem__btn_cont{
  flex-grow: 0;
}

.EducationExpandableItem__counter h1{
    color:#F36455;
    padding: 0px 9px;
    font-size: 1.125rem;
}

.EducationExpandableItem__title{
  flex-grow: 1;
  margin: 0px 10px;
}

.EducationExpandableItem__title h6{
  color:#F36455;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.EducationExpandableItem__btn{
  border-radius: 50%;
  width: 48px;
  height: 48px;
  padding: 4px 0 0 0;
  cursor: pointer;
}

.EducationExpandableItem__titleLabel {
  font-size: 1.75rem;
}

.EducationExpandableItem__title {
  color: #292b2c;
}

.EducationExpandableItem__titleContainerOpen {
  margin-bottom: 20px;
}

.EducationExpandableItem__container {
}


.EducationExpandableItem__text {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 38px;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0px;
}

.EducationExpandableItem__text h2{
  color: #F56350;
}

.EducationExpandableItem__text a{
  color: #F56350;
}

.EducationExpandableItem__text a:hover{
  color: #F56350;
  text-decoration: none;
}


.EducationExpandableItem__imgTitle {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.EducationExpandableItem__img {
  margin-left: 5px;
}

.EducationExpandableItem__show_less {
  text-transform: uppercase;
  text-align: center;
  font-size: 0.875rem;
  color: #F56350;
  margin-bottom: -8px;
}

.EducationExpandableItem__show_less span{
  background-color: white;
  padding: 0px 10px;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


    .EducationExpandableItem__btn{
      width: 30px;
        height: 30px;
        padding: 2px;
    }

    .EducationExpandableItem__titleLabel {
      font-size: 2.25rem;
    }

    .EducationExpandableItem__counter h1{
        padding: 0px 18px;
        font-size: 2.5rem;
    }

    .EducationExpandableItem__text {
      margin-left: 56px;
    }

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .EducationExpandableItem__title {
    font-size: 2rem;
  }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }
