@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* general */

:root{
  --mobile-top: 58px;
  --mobile-bottom: 58px;
  --caption-height: 64px;
}

.Module__object_row{
  flex-grow: 1;
}

.Module__object_caption_hand{
  margin-right: 10px;
}

.Module__object_caption_text{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
}

.Module__object_caption_text_cont{
  position: relative;
  flex: 1;
  min-width: 0;
}

.Module__object_caption_text_cont p{
  white-space: nowrap;
  position: relative;
  overflow-x: auto;
}

.Module__object_caption_text_cont::after {
    position: absolute;
    right: 0px;
    top:0px;
    height: 100%;
    content: "";
    width: 30px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);;
}

/* end general */

/* text */

.Module__container_text{
  padding: 0px 15px;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.Module__container_text p {
  font-size: 1.125rem;
}

.Module__container_text h2 {
  color: #F56350;
}

.Module__container_text a {
  color: #F56350;
}

.Module__container_text a:hover {
  color: #F56350;
  text-decoration: none;
}

.Module__container_text_overflow{
  max-height: calc(100vh - 58px - 58px);
  overflow-y: auto;
}

/* end text */


/* object image */

.Module__container_obj,
.Module__container_obj.smallModule,
.Module__container_obj.mediumModule{
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding:0px 15px;
}

.Module__container_obj.bigModule{
  padding:0px;
}


.Module__objectCard_img{
  border-radius: 0px;
  border: none;
}

.smallModule .Module__objectCard_img{
  max-height: 50vh;
  width: auto;
  max-width: 100%;
}

.mediumModule .Module__objectCard_img{
  max-height: calc(100vh - var(--mobile-top) - var(--mobile-bottom) - var(--caption-height) );
  width: auto;
  max-width: 100%;
  margin: auto;
}

.Module__objectCard{
  border-radius: 0px;
  border: none;
}

.Module__objectCard.card{
  background-color: transparent;
}

.bigModule .Module__objectCard{
  margin: 0;
  width: 100%;
}

.smallModule .Module__objectCard,
.mediumModule .Module__objectCard{
  margin: auto;
  width: auto;
  max-width: 100%;
}

.Module__objectCard_imgFull{
  flex: 1 1 auto;
}

.Module__objectCard .card-block,
.Module__objectCard_video .card-block{
  flex: 0 1 auto;
}

/* end object image */

/* object audio */

.Module__object__audio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.Module__object__audio_wrapper {
  padding: 0 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Module__object__audio__caption {
  height: 80px;
  background-color: white;
  width: 100%;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

/* end object audio */


/* object video */


.smallModule .Module__objectCard_video,
.mediumModule .Module__objectCard_video{
  max-width: 100%;
  flex-shrink: 1;
}

.smallModule .Module__objectCard.video,
.mediumModule .Module__objectCard.video{
  margin: auto;
  width: 100%;
}

.bigModule .Module__objectCard.video{
  max-height: 100vh;
}

.Module__objectCard_videoFull{
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Module__objectCard_videoFull .video-react{
  min-height: 100%;
  min-width: 100%;
}

.Module__objectCard_videoFull_overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  pointer-events: none;
}


/* end object video */

.ModuleObject__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ModuleObject__container_video {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.ModuleObject__caption {
  height: 100px;
  background-color: #fff;
  text-align: left;
}

.ModuleObject__caption_video {
  height: 80px;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.Module__objectCard_text {
  color: #222;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  padding-left: 10px;
}

.Module__textObject_Col {
  display: flex;
  align-items: center;
  height: 100%;
}


.Module__textObject_Col .Module__object__audio{
  height: auto;
}



.Module__textObject_Col .Module__object__audio .Module__object__audio_wrapper{
  padding: 0px;
}

.Module__textObject_Col .ModuleCarousel__wrapper{
  height: 100%;
}

.Module__textObject_Col .ModuleCarousel__slider_container{
  padding-top: 0px;
}

.Module__textObject_Col .ModuleCarousel__inner_slider{
  height: calc(100vh - 240px - 75px);
  max-width: 40vw;
}

.Module__textObjectCard {
  width: 100%;
  max-height: 600px;
}


.Module__textObject_Text {
  font-family: Georgia;
  font-size: 24px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* gallery carousel */

.ModuleCarousel__wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
}


.ModuleCarousel__slider_container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
}

.slick-slider{
  width: 100%;
}

.slick-list,
.slick-track{
  height: 100%;
}

.ModuleCarousel__inner_slider {
  height: calc(100vh - 240px);
  margin-left: 20px;
  margin-right: 20px;
  max-width: 70vw;
}


.ModuleCarousel__inner_slider img {
    max-width: 100%;
    max-height: 100%;
}

.ModuleCarousel__inner_slider--opaque img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.ModuleCarousel__caption {
  height: 80px;
  background-color: white;
  display: flex;
  color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.ModuleCarousel__caption_icon {
  height: 40px;
  align-self: center;
  margin-right: 20px;
  font-size: 28px;
}

.ModuleCarousel__control_container {
  padding: 20px;
  width: 160px;
  height: 40px;
  border-radius: 30px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.ModuleCarousel__CollectionItemLink{
  position: absolute;
  top:5px;
  right: 5px;
}

.slick-initialized .slick-slide{
  position: relative;
}

.ModuleCarousel__control_btn {
  border: 0px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

/* end gallery carousel */

/* gallery masonry */

.Module__gallery_cont{
  margin: 0px 15px;
}

.Module__gallery_caption{
  height: 58px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: var(--mobile-bottom);
}
/* end gallery masonry */

/* object map */

.ModuleMap__Caption {
  width: 100%;
  height: 80px;
  background: #fff;
  position: absolute;
  bottom: 0px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* end object map */


.ModuleObjectContentImage__Link{
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 10px;
}

.Module__objectCard_imgFull .ModuleObjectContentImage__Link,
.ModuleObjectContentImage__Link.videoFull{
  bottom: 10px;
  top:auto;
}


.ModuleObjectContentAudio__Link{
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 30px;
}

/* media queries */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .Module__container_text{
    height: 100vh;
    padding: 75px;
  }

  .Module__container_text p {
    font-size: 1.5rem;
  }

  .Module__container_obj,
  .Module__container_obj.smallModule,
  .Module__container_obj.mediumModule{
    padding:75px;
  }

  .mediumModule .Module__objectCard_img{
    max-height: 70vh;
  }

  .Module__gallery_cont{
    margin: 0px 78px;
  }

  .Module__gallery_caption{
    bottom:0px
  }

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
