@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* general */

:root{
  --mobile-top: 58px;
  --mobile-bottom: 58px;
  --caption-height: 64px;
}

.Module__object_row{
  flex-grow: 1;
}

.Module__object_caption_hand{
  margin-right: 10px;
  cursor: ew-resize;
}


.Module__object_caption_text_wrapper{
  display: flex;
}

.Module__object_caption_text_wrap{
  display: flex;
  align-items: center;
  width: 100%;
}

.Module__object_caption_text{
  flex-grow: 1; /* test dida */
  width: 0; /* test dida */
  /* display: flex;
  flex-wrap: nowrap;
  align-items: center; */
  background-color: white;
  position: relative;
  z-index: 0;
  animation-delay: 2s
}

.Module__object_caption_text_cont{
  position: relative;
  flex: 1;
  min-width: 0;
  height: 22px;
  overflow: hidden;
}

.Module__object_caption_text_cont p{
  white-space: nowrap;
  position: relative;
  overflow-x: auto;
  font-family: 'Atlas Grotesk Web';
  font-size: 0.9rem;
  padding-bottom: 16px;
}

.Module__object_caption_text_cont::after {
    position: absolute;
    right: 0px;
    top:0px;
    height: 100%;
    content: "";
    width: 30px;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);;
}

/* end general */

/* text */

.Module__container_text{
  padding: var(--mobile-top) 15px;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.Module__container_text p,
.Module__textObject_Text p {
  font-size: 1.125rem;
}

.Module__container_text h2,
.Module__textObject_Text h2 {
  color: #F56350;
}

.Module__container_text a,
.Module__textObject_Text a {
  color: #F56350;
}

.Module__container_text a:hover,
.Module__textObject_Text a:hover {
  color: #F56350;
  text-decoration: none;
}

.Module__container_text_overflow{
  max-height: calc(100vh - 58px - 58px);
  overflow-y: auto;
  animation-duration: 2s!important;
  padding-top: 15px;
}

.Module__container_text blockquote,
.Module__textObject_Text blockquote{
  margin: 1.5rem;
}

.Module__container_text blockquote,
.Module__container_text blockquote p,
.Module__textObject_Text blockquote,
.Module__textObject_Text blockquote p{
  position: relative;
  font-style: italic;
  font-size: 1.5rem;
}
.Module__container_text blockquote::before,
.Module__textObject_Text blockquote::before{
  position: absolute;
  top: 2rem;
  left: -2rem;
  content: '“';
  color: #f56350;
  opacity: 0.6;
  font-size: 8rem;
  line-height: 0;
}

/* end text */


/* object image */

.Module__container_obj_row{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.Module__container_obj,
.Module__container_obj.smallModule,
.Module__container_obj.mediumModule{
  height: 100vh;
  /* overflow-y: auto; */
  overflow-y: hidden;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding:58px 15px;
}

.Module__container_obj.bigModule{
  padding:0px;
}


.Module__objectCard_img{
  border-radius: 0px;
  border: none;
  position: relative;
  animation-delay: 1s;
  z-index: 1;
}

.smallModule .Module__objectCard_img{
  max-height: 50vh;
  width: auto;
  max-width: 100%;
}

.mediumModule .Module__objectCard_img{
  max-height: calc(100vh - var(--mobile-top) - var(--mobile-bottom) - var(--caption-height) );
  width: auto;
  max-width: 100%;
  /* margin: auto; */
}

.Module__objectCard{
  border-radius: 0px;
  border: none;
}

.Module__objectCard.card{
  background-color: transparent;
}

.bigModule .Module__objectCard{
  margin: 0;
  width: 100%;
}

.smallModule .Module__objectCard,
.mediumModule .Module__objectCard{
  margin: auto;
  width: auto;
  max-width: 100%;
  display: inline-flex; /* test dida */
}

.Module__objectCard_imgFull{
  flex: 1 1 auto;
  position: relative;
  animation-delay: 1s;
  z-index: 1;
}

.Module__objectCard .card-block,
.Module__objectCard_video .card-block{
  /*flex: 0 1 auto; test dida */
}

/* end object image */

/* object audio */

.Module__object__audio {
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.Module__object__audio_wrapper {
  padding: 0px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Module__object__audio_caption {
  /* flex-grow: 0; test dida */
}

/* end object audio */


/* object video */


.smallModule .Module__objectCard_video,
.mediumModule .Module__objectCard_video{
  max-width: 100%;
  flex-shrink: 1;
  position: relative;
  z-index: 1;
  animation-delay: 1s!important;
  height: 100%;
}

.smallModule .Module__objectCard_video .video-react,
.mediumModule .Module__objectCard_video .video-react{
  max-width: 100%;
  max-height: 100%;
  width: 100%!important;
  height: 100%!important;

}

.smallModule .Module__objectCard.video,
.mediumModule .Module__objectCard.video{
  margin: auto;
  flex: 0 0 100%;
  height: 50%;
}



.bigModule .Module__objectCard.video{
  max-height: 100vh;
}

.Module__objectCard_videoFull{
  flex: 1 1 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  animation-delay: 1s;
}

.Module__objectCard_videoFull .video-react{
  min-height: 100%;
  min-width: 100%;
}

.Module__objectCard_videoFull_overlay{
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  pointer-events: none;
}


/* end object video */

.ModuleObject__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ModuleObject__container_video {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.ModuleObject__caption {
  height: 100px;
  background-color: #fff;
  text-align: left;
}

.ModuleObject__caption_video {
  height: 80px;
  background-color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.Module__objectCard_text {
  color: #222;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  padding-left: 10px;
}

.Module__textObject_Col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /*test dida*/
  height: 100%;
  animation-duration: 2s!important;
}

.Module__textObject_Col.text {
  height: auto;
}

.Module__textObject_Col.mediumModule .Module__objectCard.video{
  flex: none;
}

.Module__textObject_Col.mediumModule.animated{
  animation-delay: 0.8s;
}


.Module__textObject_Col .Module__object__audio{
  height: auto;
}



.Module__textObject_Col .Module__object__audio .Module__object__audio_wrapper{
  padding: 0px;
}

.Module__textObject_Col .ModuleCarousel__wrapper{
  height: 100%;
  padding: 0px;
}

.Module__textObject_Col .ModuleCarousel__slider_container{
  padding-top: 0px;
}

.Module__textObject_Col .ModuleCarousel__inner_slider{
  height: calc(100vh - 58px - 58px - 75px - 58px);
  max-width: 80vw;
}

.Module__textObject_Col .Map__Module_Container{
  padding: 15px 0px;
}

.Module__textObjectCard {
  width: 100%;
  max-height: 600px;
}


.Module__textObject_Text {
  font-family: Georgia, serif;
  font-size: 24px;
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 15px;
  /* animation-duration: 2s !important; */
}

/* gallery carousel */

.ModuleCarousel__wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: -15px;
  margin-right: -15px;
  padding: 58px 0px;
}


.ModuleCarousel__slider_container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  padding-top: 0px;
  flex-direction: column;
}

.slick-slider{
  width: 100%;
}

.slick-list,
.slick-track{
  height: 100%;
}

.ModuleCarousel__inner_slider {
  height: calc(100vh - 260px);
  margin-left: 20px;
  margin-right: 20px;
  max-width: 70vw;
  display: flex!important;
  align-items: center;
}


.ModuleCarousel__inner_slider img {
    max-width: 100%;
    max-height: 100%;
}

.ModuleCarousel__inner_slider--opaque img {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.ModuleCarousel__caption {
  height: 80px;
  background-color: white;
  display: flex;
  color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.ModuleCarousel__caption_icon {
  height: 40px;
  align-self: center;
  margin-right: 20px;
  font-size: 28px;
}

.ModuleCarousel__control_container {
  padding: 20px;
  width: 160px;
  height: 40px;
  border-radius: 30px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

.ModuleCarousel__CollectionItemLink{
  position: absolute;
  top:5px;
  right: 5px;
}

.slick-initialized .slick-slide{
  position: relative;
}

.ModuleCarousel__control_btn {
  border: 0px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
}

.Module__gallery_carousel_caption {
    /* height: calc(var(--mobile-bottom)*2);
    padding-bottom: calc(var(--mobile-bottom)/2 + var(--mobile-bottom)); */
    width: 100%;
    background-color: white;
    flex-grow: 0;
    height: 58px;
    padding-bottom: 1.25rem;
    display: flex;
    align-items: center;
}

/* end gallery carousel */

/* gallery masonry */

.Module__gallery_cont{
  margin: 0px;
  height: calc(100% - 15px);
  animation-delay: 1s;
  position: relative;
}

.Module__gallery_cont:after{
  content: "";
  position: absolute;
  right: 0px;
  left: 0px;
  height: 30px;
  bottom: 0px;
  background: linear-gradient(to bottom, rgba(55, 58, 60,0) 0%, rgba(55, 58, 60,1) 100%);
}

.Module__gallery_caption{
  height: 58px;
  width: 100%;
  background-color: white;
  flex-grow: 0;
  /* position: fixed;
  bottom: var(--mobile-bottom); */
}
/* end gallery masonry */

/* object map */

.Map__Module_Container{
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 58px 0px;
}

.Map__Module_Container .mapboxgl-map{
  z-index: 1;
}

.ModuleMap__Caption {
    height: 58px;
    width: 100%;
    background-color: white;
    flex-grow: 0;
    padding: 1.25rem;
}


/* end object map */


.ModuleObjectContentImage__Link{
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 10px;
  animation-delay: 2s;
}

.Module__objectCard_imgFull .ModuleObjectContentImage__Link,
.ModuleObjectContentImage__Link.videoFull{
  bottom: 10px;
  top:auto;
}


.ModuleObjectContentAudio__Link{
  position: absolute;
  z-index: 100;
  right: 20px;
  top: 30px;
}

/* media queries */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .Module__container_text{
    height: 100vh;
    padding: 75px;
  }

  .Module__textObject_Col.text {
    height: 100%;
  }

  .Module__container_text p,
  .Module__textObject_Text p {
    font-size: 1.5rem;
  }

  .Module__textObject_Text{
    padding-top: 0px;
  }

  .smallModule .Module__objectCard.video,
  .mediumModule .Module__objectCard.video{
    margin: 0px auto;
    flex: 0 0 80%;
    height: auto;
  }

  .Module__container_obj,
  .Module__container_obj.smallModule,
  .Module__container_obj.mediumModule{
    padding:75px;
  }

  .mediumModule .Module__objectCard_img{
    max-height: calc(100vh - 150px - 62px);
  }

  .Module__container_obj_row{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .Module__textObject_Col .Module__gallery_cont{
    padding-top: 0px!important;
  }

  .Module__textObject_Col .ModuleCarousel__inner_slider{
    height: calc(100vh - 240px - 75px);
    max-width: 40vw;
  }

  .Module__textObject_Col.mediumModule .Module__objectCard.video{
    flex: 0 0 80%;
  }

  .Module__textObject_Col .Map__Module_Container{
    padding: 0px;
  }

  .Module__object__audio {
    height: 100vh;
  }

  .Module__object__audio_wrapper{
    padding: 0 100px
  }

  .Module__gallery_cont{
    padding-top: 78px;
    margin: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .Module__gallery_caption{
    bottom:0px
  }

  .ModuleCarousel__wrapper{
    padding: 0px;
  }


  .ModuleCarousel__slider_container {
    padding-top: 78px;
  }

  .Module__gallery_carousel_caption {
      height: 58px;
      padding-bottom: 1.25rem;
  }

  .ModuleMap__Caption {
    padding: 1.25rem;
    height: 58px;
  }

  .ModuleCarousel__inner_slider {
    height: calc(100vh - 240px);
  }

  .ModuleCarousel__inner_slider{
    height: calc(100vh - 240px);
    animation-delay: 1s!important;
  }

  .Map__Module_Container{
    padding: 0px;
  }


  .Module__container_text blockquote,
  .Module__textObject_Text blockquote{
    margin: 2rem;
  }

  .Module__container_text blockquote,
  .Module__container_text blockquote p,
  .Module__textObject_Text blockquote,
  .Module__textObject_Text blockquote p{
    font-size: 2rem;
  }
  .Module__container_text blockquote::before,
  .Module__textObject_Text blockquote::before{
    position: absolute;
    top: 3rem;
    left: -3rem;
    font-size: 12rem;
  }

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
