.Module__text {
  max-width: 400px;
  font-family: Georgia;
  font-size: 24px;
}

.Module__objectCard {
  width: 100%;
}

.Module__objectCard_text {
  color: #222;
}

.Module__textObject_Col {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.Module__textObjectCard {
  width: 100%;
  max-height: 600px;
}

.Module__textObject_Text {
  font-family: Georgia;
  font-size: 24px;
}
