.Static__intro{
  column-count: 1;
  margin-top: 15px;
  column-gap: 15px;
  padding-top: 60px;
}

.Static__intro p{
  font-size: 1rem;
}

.Static__intro h4{
  color:#F06354;
  text-transform: uppercase;
  font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Static__intro{
    column-count: 2;
    padding-top: 0px;
  }

  .Static__intro p{
    font-size: 1.125rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
