.TimelineExpandableYear__container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-top: 0.5px solid #DBDBD0;
  border-bottom: 0.5px solid #DBDBD0;
}

.TimelineExpandableYear__year {
  font-weight: 600;
  color: #F36455;
}
