.TimelineExpandableYear__container {
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #DBDBD0;
  border-right: 1px solid #DBDBD0;
}

.TimelineExpandableYear__year {
  font-family: "Atlas Grotesk", Arial, sans-serifa;
  font-weight: 500;
  color: black;
  font-size: 0.875rem;
  cursor: pointer;
}

.TimelineExpandableYear__year.expanded {
  color: #F36455;
}

.TimelineExpandableYear__expandable {
  color: #F2AA9F;
  display: flex;
  flex-direction: column;
}

.TimelineExpandableYear__expandable i {
  font-size: 14px;
}

.TimelineExpandableYear__month_marker_hand {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  font-size: 18px!important;
}

.TimelineExpandableYear__month_marker_active {
  font-size: 18px!important;
  color:  #F36455;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .TimelineExpandableYear__container {
    padding: 10px 0px;
    border-right: none;
  }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }
