.MapPage__MainRow{
  height: 100vh;
  padding-top: 58px;
  display: flex;
  width: 1px;
  position: relative;
}

.MapPage__MainRow.openMap{
  width: 100vw;
}

.MapPage__MainRow.closeMap{
  width: 100vw;
}

.MapPage__Spinner_container{
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  zIndex: 9999;
}

.Map__ZoomControl{
  left: 8px!important;
  box-shadow: none!important;
  border: none!important;
}

.Map__ZoomControl button{
  width: 36px!important;
  height: 36px!important;
  background-color: rgba(0, 0, 0, .7)!important;
  border-radius: 100%!important;
  padding: 6px!important;
  margin: 4px!important;
  cursor: pointer!important;
  background-image: none!important;
  position: relative;
  opacity: 1!important;
}

.Map__ZoomControl button:after{
  display: flex;
  color: white;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  font-feature-settings: 'liga';
}

.Map__ZoomControl button:nth-of-type(1):after{
    content: "add";
}

.Map__ZoomControl button:nth-of-type(2):after{
    content: "remove";
}

.Map__Controls {
  position: absolute;
  left: 8px;
  top: 100px;
  z-index: 2000;
  color: #fff;
}

.Map__LayersControl {
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 100px;
  padding: 6px;
  margin: 4px;
  cursor: pointer;
}

.Map__LayersControl__Button{
  border: none;
}

.Map__LayersControl__Button.btn-secondary:active,
.Map__LayersControl__Button.btn-secondary.active,
.Map__LayersControl__Button.show > .btn-secondary.dropdown-toggle{
  background-color: #F56350;
  color: white;
}

.MapPage__items_shown {
  align-self: center;
  margin-left: auto;
  font-size: 16px;
}

.MapPage__Filters_container {
  position: fixed;
  width: 20%;
  top: 0;
  bottom: 0;
  left: 80%;
  background-color: white;
  /*background-color: red;*/
}

.MapToolTip {
  width: 250px;
}

.MapToolTip__img {
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
}

.MapToolTip__img_link{
  position: absolute;
  top: 5px;
  right: 5px;
}

.MapToolTip__title {
  color: #DA715E;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-top: 4px;
  padding-right: 24px;
}

.MapToolTip__text{
  margin-bottom: 0px;
  font-family: Georgia, serif;
  max-height: 150px;
  overflow-y: auto;
}

.Map__PositionControl {
  width: 36px;
  height: 36px;
  background-color: rgba(0, 0, 0, .7);
  border-radius: 100px;
  padding: 6px;
  margin: 4px;
  cursor: pointer;
}

.Map__Modal_title h4 {
  font-family: 'Vinter Web', Georgia, serif;
}

@keyframes Map__PositionContro--animatedBackground {
  0% { background-color: rgba(0, 0, 0, .7); }
  50% { background-color: #F56350; }
	100% { background-color: rgba(0, 0, 0, .7); }
}

.Map__PositionControl--geolocating{
  animation: Map__PositionContro--animatedBackground 2s linear infinite;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .Map__ZoomControl{
    left: 20px!important;
  }

  .MapPage__MainRow.openMap{
    width: calc(100vw - 358px);
  }

  .MapPage__MainRow.closeMap{
    width: calc(100vw - 58px);
  }

  .MapPage__MainRow{
    padding-top: 100px;
  }

  .Map__Controls {
    left: 20px;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
