.MapPage__TopRow_container {
  position: fixed;
  z-index: 99;
  width: 100%;
  padding-right: 60px;
}

.MapPage__TopRow {
  height: 100px;
  background-color: #fff;
}

.MapPage__TopInfo {
  display: flex;
  border-right: 0.3px solid #DBDBD0;
}

.MapPage__TopInfo h2 {
  margin-left: 70px;
  position: relative;
  top: 30%;
}

.MapPage__TopInfo p {
  margin-left: auto;
  position: relative;
  top: 40%;
}

.MapPage__Search {
  padding-top: 35px;
  border-bottom: 0.3px solid #DBDBD0;
}

.MapPage__SideMenu {
  background-color: #fff;
  border-top: 0.3px solid #DBDBD0;
  padding-left: 0px!important;
}
