.ChaptersControl__chapters_num_container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: inline-flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.ChaptersControl__chapters_num_container span {
  color: #DC715A;
  padding: 9.5px;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #fff;
  border-radius: 40px;
  font-weight: bold;
}

.ChaptersControl__chapters_btn {
  color: #FFF;
  border-radius: 100%;
  margin-left: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  width: 45px;
  height: 45px;
  padding-top: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.ChaptersControl__chapters_btn_control {
  padding-top: 10px;
  margin-bottom: 10px;
  min-height: 45px;
  background-color: rgba(0, 0, 0, 0.4);
}

.ChaptersControl__chapters_btn_control:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.ChaptersControl__controls_container {
  position: fixed;
  right: 20px;
  top: 45%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
