.CollectionItem__wrapper_div {
  /*height:100vh;*/
  flex-grow: 1;
  background-color: #2F2F2F;
}

.CollectionItem__container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.CollectionItem__doc_container {
  height: auto;
  /*display: flex;
  flex-direction: column;*/
  /*justify-content: center;*/
}

.CollectionItem__doc_controls{
  /*height: 80px;*/
  width: 100%;
  /*align-self: flex-end;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;*/
  flex-grow: 0;
}

.CollectionItem__doc_preview{
  flex-grow: 1;
  width: 100%;
  /*max-height: 80%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/

}

.CollectionItem__info_container {
  max-height: 100vh;
  overflow-x: scroll;
  padding-top: 58px;
  border-left: none;
  padding-bottom: 15px;
}

.CollectionItem__close_btn {
	border: 1px solid #DBDBD0;
  height: 48px;
  width: 48px;
  color: #fff;
  background-color: #2F2F2F;
  margin: 15px;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

.CollectionItem__date {
  color: #9B9B9B;
  font-size: 0.875rem;
  font-family: "Atlas Grotesk Web", Arial, sans-serif;
}

.CollectionItem__title {
  font-size: 1.75rem;
  color: #fff;
}

.CollectionItem__title_divider {
  border-color: #fff;
  margin-right: 70%;
}

.CollectionItem__description {
  color: #C3C2C4;
	font-size: 1.125rem;
}

.CollectionItem__Relatedobjects {
  padding-top: 15px;
}

.CollectionItem__Relatedobjects__text_container {
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
}

.CollectionItem__Relatedobjects__text_container p {
  color: #C3C2C4;
  font-weight: 100;
  margin: 0px;
  position: absolute;
  bottom: 0;
}

.CollectionItem__Relatedobjects__img {

}

.CollectionItem__additional_info {
  margin-top: 30px;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
  padding: 15px 0px;
  color: white;
  cursor: pointer;
}

.CollectionItem__additional_info h6 {
  margin: 0px;
  flex-grow: 1;
}


.CollectionItem__label {
  color: #F56350;
	margin-bottom: 15px;
  text-transform: uppercase;
}

.CollectionItem__Relatedobjects_divider {
  border-color: #484848;
}

.CollectionItem__btn {
  color: #C2C1C3;
  background-color: transparent;
  border: 1px solid #C2C1C3;
  border-radius: 16px;
  margin-right: 8px;
  font-family: "Atlas Grotesk Web", Arial, sans-serif;
  cursor: pointer;
}

.CollectionItem__btn_download {
  color: #fff;
  background-color: #1C1C1C;
  height: 45px;
  width: 45px;
  position: absolute;
  right: 0;
  margin-right: 10px;
  border: 0px;
  border-radius: 100%;
}

.CollectionItem__AdditionalInformation_text {
  color: #C2C1C3;
  font-size: 12px;
  font-weight: 200;
  margin-bottom: 2.5px;
}

.CollectionItem__AdditionalInformation_table{
  color: #C3C2C4;
  margin-top: -1px;
}

.CollectionItem__AdditionalInformation_table.table-bordered,
.CollectionItem__AdditionalInformation_table.table td,
.CollectionItem__AdditionalInformation_table.table th{
  border: 1px solid #979797;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .CollectionItem__doc_container {
    height: 100vh;
    /*display: flex;
    flex-direction: column;*/
    /*justify-content: center;*/
  }

  .CollectionItem__info_container {
    border-left: 1px solid #DBDBD0;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
