.CollectionDetailModal__container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background-color: #2F2F2F;
  overflow-y: scroll;
  flex-direction: column-reverse;
  animation-duration: 1s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from: {
    opacity: 0.5;
  }
  to: {
    opacity: 1;
  }
}

.CollectionDetailModal__close_btn_container {
  border-left: none;
  flex-grow: 0;
  text-align: right;
}

.CollectionDetailModal__close_btn {
	border: 1px solid #DBDBD0;
  height: 48px;
  width: 48px;
  color: #fff;
  background-color: #2F2F2F;
  margin: 15px;
  padding: 0.5rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .CollectionDetailModal__container {
    left: 58px;
    overflow-y: hidden;
    flex-direction: row;
  }

  .CollectionDetailModal__close_btn_container {
    border-left: 1px solid #DBDBD0;
    text-align: left;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
