.Resources__wrapper{
  background-color: #eee;
  min-height: 100vh;
}

.Resources__top_wrapper{
  background-color: white;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Resources__top_wrapper{
    padding-top: 50px;

  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
