.ManualExpandableItem__containerClose {
  margin: 10px;
  margin-left: 0px;
  width: initial!important;
  margin-right: 10px!important;
  background-color: #fff;
  height: 120px;
  padding: 20px;
  border: 1px solid #DBDBD0;
}

.ManualExpandableItem__containerOpen {
  margin: 10px;
  margin-left: 0px;
  width: initial!important;
  margin-right: 10px!important;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #DBDBD0;
}

.ManualExpandableItem__titleContainerOpen {
  margin-bottom: 20px;
}

.ManualExpandableItem__btn_container,
.ManualExpandableItem__num_container {
  min-width: 100px;
}

.ManualExpandableItem__num_container h3 {
  color:#F36455;
}

.ManualExpandableItem__btn_container {
  margin-left: auto;
  display: flex;
}
