.CollectionItemPreview__doc_preview{
  padding: 15px;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.CollectionItemPreviewPDF__controls {
  position: absolute;
  left: -50px;
  bottom: 0;
  background-color: #000;
  color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: calc(100% + 50px);
}

.CollectionItemPreviewPDF__controls button {
  background-color: transparent;
  border: 0px;
  color: #fff;
}

.CollectionItemPreviewPDF__controls_current_page {
  padding: 4px;
  padding-left: 50px;
  border-radius: 4px;
  background-color: #3E3F41;
  margin-left: 5px;
  margin-right: 5px;
}

.CollectionItemPreviewPDF__controls_page_arrows  {
  margin-left: 30px;
  position: relative;
  bottom: 4px;
}

.CollectionItemPreviewPDF__controls_page_arrows i {
  padding: 0px;
  font-size: 17px;
}

.CollectionItemPreviewPDF__controls_zoom span,
.CollectionItemPreviewPDF__controls_page_arrows span {
  font-size: 30px;
  font-weight: 200;
  color: #4E4E4E;
}

.CollectionItemPreviewPDF__controls_zoom {
  padding: 0px;
  font-size: 20px;
  margin-left: 30px;
  position: relative;
  bottom: 4px;
}

.CollectionItemPreviewPDF__controls_fit_to_page select {
  margin-left: 30px;
  color: #fff;
  background-color: #3E3F41;
  border: 0px;
  height: 25px;
  min-width: 110px;
}

.CollectionItemPreviewPDF__download_btn {
  margin-left: auto;
  color: #fff;
  background-color: transparent;
  position: absolute;
  right: 10px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px;
}

@media (max-width: 991px) {
  .CollectionItemPreviewPDF__controls {
    left: 0;
    margin-right: 60px;
    z-index: 4;
  }
}
