.CollectionItemPreview__doc_preview{
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.CollectionItemPreview__leaflet_wrapper,
.CollectionItemPreview__audio_wrapper,
.CollectionItemPreview__video_wrapper{
  flex-grow: 1;
  width: 100%;
  padding-top: 15px;
}

.CollectionItemPreview__audio_wrapper,
.CollectionItemPreview__video_wrapper{
  display: flex;
  align-items: center;
}

.CollectionItemPreview__pdf_wrapper{
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  padding-top: 15px;
  justify-content: center;
  position: relative;
}

.CollectionItemPreview__pdf_scale{
  position: absolute;
  top:15px;
  bottom: 0px;
  left:0px;
  right: 0px;
  overflow: auto;
  text-align: center;
}

/* .CollectionItemPreview__pdf_scale canvas{
  min-height: 100%;
} */

.CollectionItemPreviewPDF__controls {
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 0.875rem;
  font-family: 'Atlas Grotesk Web';
  padding: 10px 15px;
  border-radius: 30px;
}

.CollectionItemPreviewPDF__controls > div {
  display: flex;
  align-items: center;
}


.CollectionItemPreviewPDF__controls button {
  background-color: transparent;
  border: 0px;
  color: #fff;
  padding: 3px 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}


.CollectionItemPreviewPDF__controls button.active {
    color: #F56350;
}

.CollectionItemPreviewPDF__controls_current_page {
  padding: 4px;
  padding-left: 50px;
  border-radius: 4px;
  background-color: #3E3F41;
  margin-left: 5px;
  margin-right: 5px;
}

.CollectionItemPreviewPDF__controls_page_arrows  {
}

.CollectionItemPreviewPDF__controls_page_arrows i {
  /* padding: 0px;
  font-size: 17px; */
}

.CollectionItemPreviewPDF__controls_zoom span,
.CollectionItemPreviewPDF__controls_page_arrows span {
  /* font-size: 30px;
  font-weight: 200; */
  color: #4E4E4E;
}

.CollectionItemPreviewPDF__controls_zoom {
  /* font-size: 20px; */
}

.CollectionItemPreviewPDF__controls_fit_to_page select {
  /* margin-left: 30px;
  color: #fff;
  background-color: #3E3F41;
  border: 0px;
  height: 25px;
  min-width: 110px; */
}

.CollectionItemPreviewPDF__download_btn {
  /* margin-left: auto;
  color: #fff;
  background-color: transparent;
  position: absolute;
  right: 10px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  margin-right: 15px; */
}

.CollectionItemPreview__video_wrapper .video-react .video-react-big-play-button{
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(47,47,47,0.9);
  line-height: 1.7em;
}

.CollectionItemPreview__video_wrapper .video-react:hover .video-react-big-play-button,
.CollectionItemPreview__video_wrapper .video-react .video-react-big-play-button:focus{
    background-color: rgba(47,47,47,0.9);
}

.CollectionItemPreview__video_wrapper .video-react .video-react-play-progress{
  background-color: #F56350;
}

.CollectionItemPreview__video_wrapper .video-react .video-react-control-bar{
  background-color: rgba(47,47,47,0.9);
}

.CollectionItemPreview__video_wrapper .video-react .video-react-control:focus:before,
.CollectionItemPreview__video_wrapper .video-react .video-react-control:hover:before,
.CollectionItemPreview__video_wrapper .video-react .video-react-control:focus{
  text-shadow: none;
}

.CollectionItemPreview__video_wrapper .video-react{
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
}

@media (max-width: 991px) {
  .CollectionItemPreviewPDF__controls {
    /* position: sticky;
    margin-left: -28px;
    z-index: 4; */
  }
}
