.About__wrapper{
  width: 100%;
  height: 100vh;
  background: white;
  padding-top: 0px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .About__wrapper{
    padding-top: 50px;

  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
