.ResourceCard__container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #fff;
  padding: 15px;
  position: relative;
  border: 1px solid #DBDBD0;
  display: flex;
}

.ResourceCard__text_container {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
}

.ResourceCard__downloadBtn_wrapper {
  margin-top: auto;
}

.ResourceCard__downloadBtn {
    border-radius: 23px;
    display: inline-flex;
    font-family: "Atlas Grotesk Web", Arial, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.ResourceCard__image {
  width: 250px;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #DBDBD0;
  flex-shrink: 0;
}

.ResourceCard__pub_date{
  font-family: "Atlas Grotesk Web", Arial, sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .ResourceCard__text_container {
    padding-left: 25px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
