.ResourceCard__container {
  margin-top: 10px;
  display: inline-flex;
  background-color: #fff;
  width: 94%;
  padding: 15px;
  position: relative;
}

.ResourceCard__text_container {
  padding-left: 15px;
}

.ResourceCard__downloadBtn {
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  text-transform: uppercase;
  background-color: #fff;
  position: absolute;
  bottom: 15px;
}

.ResourceCard__image {

  max-height: 240px;
  width: auto;
}
