.ChapterCover__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ChapterCover__inner_container {
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChapterCover__label_container {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  text-align: center;
}

.ChapterCover__inner_container label{
  color: #F56350;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  flex:1;
}

.ChapterCover__bottom_text_container {
  flex: 1;
}

.ChapterCover__inner_container h1 {
	color: #FFFFFF;
  font-size: 4rem;
  flex:1
}

.ChapterCover__text_container {
  max-width: 500px;
}

.ChapterCover__text_container p {
  font-family: Georgia;
  font-size: 24px;
  font-style: italic;
}


.ChapterCover__bottom_text_container {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
}

.ChapterCover__bottom_text_container p {
  font-size: 14px;
}
