.ChapterCover__container {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
}

.ChapterCover__inner_container {
  color: #fff;
  width: 100%;
  height: calc(100vh - 58px - 58px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 58px 0px;
}

.ChapterCover__label_container {
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #DC715A;
  text-transform: uppercase;
  font-size: 1rem;
}

.ChapterCover__inner_container label{
  color: #F56350;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  flex:1;
}

.ChapterCover__bottom_text_container {
  flex: 1;
}

.ChapterCover__inner_container h1 {
	color: #FFFFFF;
  font-size: 4rem;
  flex:1
}

.ChapterCover__text_container {
  max-width: 500px;
}

.ChapterCover__text_container p {
  font-family: Georgia;
  font-size: 24px;
  font-style: italic;
}


.ChapterCover__bottom_text_container {
  position: absolute;
  bottom: 68px;
  left: 0;
  width: 100%;
  text-align: center;
}

.ChapterCover__bottom_text_container p {
  font-size: 14px;
}

/* media queries */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .ChapterCover__inner_container {
    height: 100vh;
    margin-top: 0px;
  }

  .ChapterCover__bottom_text_container {
    bottom: 10px;
  }

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
