.ChapterCover__container {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 58px 0px;
}

.ChapterCover__inner_container {
  color: #fff;
  width: 100%;
  height: calc(100vh - var(--mobile-top) - var(--mobile-bottom));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.ChapterCover__label_container {
  position: absolute;
  top: 27px;
  left: 0;
  width: 100%;
  text-align: center;
  color: #DC715A;
  text-transform: uppercase;
  font-size: 1rem;
}

.ChapterCover__inner_container label{
  color: #F56350;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  flex:1;
}

.ChapterCover__bottom_text_container {
  flex: 1;
}

.ChapterCover__inner_container_center{
  height: auto;
  overflow-y: auto;
}

.ChapterCover__inner_container h1 {
	color: #FFFFFF;
  font-size: 2rem;
  flex:1
}

.ChapterCover__text_container {
  max-width: 500px;
}

.ChapterCover__text_container p {
  font-size: 1.125rem;
  font-style: italic;
}


.ChapterCover__bottom_text_container {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  text-align: center;
}

.ChapterCover__bottom_text_container p {
  font-size: 14px;
}

/* media queries */


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {


 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {


 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .ChapterCover__container {
    padding: 0px;
  }


  .ChapterCover__inner_container {
    height: 100vh;
    margin-top: 0px;
  }

  .ChapterCover__bottom_text_container {
    bottom: 18px;
  }

  .ChapterCover__inner_container_center{
    height: auto;
  }

  .ChapterCover__text_container p {
    font-size: 1.5rem;
  }

  .ChapterCover__inner_container h1 {
    font-size: 6rem;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}
