.OpenSideMenu {
  position: fixed;
  left: 58px;
  background-color: #F7F7EB;
  height: 100vh;
  overflow-y: scroll;
  z-index: 99999;
  box-shadow: 5px 2px 7px 0 rgba(0,0,0,0.5);
}

.OpenSideMenu__list {
  list-style: none;
  font-size: 2rem;
  margin: 50px;
  padding-left: 0px;
  font-family: 'Vinter Web',Georgia, serif;
}


.OpenSideMenu__list li a,
.OpenSideMenu__bottom_list li a{
  color: rgba(0, 0, 0, 0.70);
}

.OpenSideMenu__list li a:hover,
.OpenSideMenu__list li a:focus,
.OpenSideMenu__bottom_list li a:hover,
.OpenSideMenu__bottom_list li a:focus {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.OpenSideMenu__bottom {
  margin-top: auto;
}

.OpenSideMenu__bottom_list {
  list-style: none;
  margin: 50px 50px 10px 50px;
  padding-left: 0px;
  font-family: 'Atlas Grotesk Wew',Arial, sans-serif;
  font-size: 1.12rem;

}

.OpenSideMenu__bottom_logos {
  height: 100px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .OpenSideMenu {
    left: 0;
    right: 0;
    height: calc(100vh - 72px);
    width: 100%;
    z-index: 9999;
    margin: auto;
    margin-top: 60px;
  }
  .OpenSideMenu__list {
    margin-left: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .OpenSideMenu__bottom_list {
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
  }
}
