.OpenSideMenu {
  position: fixed;
  left: 0px;
  background-color: #F7F7EB;
  height: 100vh;
  overflow-y: scroll;
  z-index: 99999;
  width: 100%;
  box-shadow: 5px 2px 20px 0px rgba(0,0,0,0.3);
}

.OpenSideMenu__list {
  list-style: none;
  font-size: 2rem;
  margin: 50px;
  padding-left: 0px;
  text-align: center;
  font-family: 'Vinter Web',Georgia, serif;
}

.OpenSideMenu__list li a.active{
  color:#F56350;
  opacity: 1;
}
.OpenSideMenu__list li a,
.OpenSideMenu__bottom_list li a{
  color: black;
  opacity: 0.70;
  text-transform: capitalize;
}

.OpenSideMenu__list li a:hover,
.OpenSideMenu__list li a:focus,
.OpenSideMenu__bottom_list li a:hover,
.OpenSideMenu__bottom_list li a:focus {
  text-decoration: none;
  opacity: 1;
}

.OpenSideMenu__bottom {
  margin-top: auto;
}

.OpenSideMenu__bottom_list {
  list-style: none;
  margin: 0px 50px 10px 50px;
  padding-left: 0px;
  font-family: 'Atlas Grotesk Wew',Arial, sans-serif;
  font-size: 1.12rem;
  text-align: center;
}

.OpenSideMenu__bottom_logos {
  height: 160px;
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.OpenSideMenu__bottom_logos img{
  height: 100%;
  width: auto;
}

.OpenSideMenu__title-md{
  height: 58px;
  background-color: #333;
}

.OpenSideMenu__title-md p{
  color: #fff;
  text-align: center;
  font-family: 'Behrens antiqua', Georgia, serif;
  letter-spacing: 3px;
  white-space: nowrap;
  padding-top: 20px;
}

.OpenSideMenu__lang_control {
  background-color: #fff;
  padding: 10px 0px;
  border-top: 1px solid #DBDBD0;
  text-align: center;
  padding-bottom: 50px;
}

.OpenSideMenu__lang_control_btn {
  border-radius: 0px;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-weight: 500;
  cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: 1px solid #DBDBD0;
  border-bottom: 2px solid white;
}

.OpenSideMenu__lang_control_btn.leActiveClassForLang{
    border-bottom: 2px solid #F56350;
}

.OpenSideMenu__lang_control_btn:hover {
  color: #F56350;
  border-bottom: 2px solid #F56350;
  background-color: white;
}

.OpenSideMenu__lang_control_btn:focus,
.OpenSideMenu__lang_control_btn.focus{
  -webkit-box-shadow: none;
  box-shadow: none;
}

.OpenSideMenu__lang_control_btn:active,
.OpenSideMenu__lang_control_btn.active{
  background-color: transparent;
}

.OpenSideMenu__lang_control_btn.leActiveClassForLang{
  display: inline-block;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

  .OpenSideMenu {
    width: auto;
    left: 58px;
  }

  .OpenSideMenu__list {
    text-align: left;
  }

  .OpenSideMenu__bottom_list {
    text-align: left;
  }
  .OpenSideMenu__lang_control {
    padding-bottom: 10px;
  }
  .OpenSideMenu__lang_control_btn.leActiveClassForLang{
      display: none;
  }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }
