@import "~video-react/dist/video-react.css";
@import "~leaflet/dist/leaflet.css";

/* fonts */
@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-MediumItalic-Web.eot');
  src: url('/fonts/AtlasGrotesk-MediumItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-MediumItalic-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

.AtlasGrotesk-MediumItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('/fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-RegularItalic-Web.eot');
  src: url('/fonts/AtlasGrotesk-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-RegularItalic-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.AtlasGrotesk-RegularItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('/fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'Behrens Antiqua';
    src: url('/fonts/solotype_-_behrens_antiqua_normal-webfont.woff2') format('woff2'),
         url('/fonts/solotype_-_behrens_antiqua_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.BehrensAntiqua {
  font-family: 'Behrens antiqua';
  font-weight:  normal;
  font-style:   normal;
}

@font-face {
  font-family: 'Vinter Web';
  src: url('/fonts/VinterWeb-Medium.eot');
  src: url('/fonts/VinterWeb-Medium.eot?#iefix') format('embedded-opentype'),
     url('/fonts/VinterWeb-Medium.woff2') format('woff2'),
       url('/fonts/VinterWeb-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Vinter Web';
    src: url('/fonts/VinterWeb-MediumItalic.eot');
    src: url('/fonts/VinterWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
    	 url('/fonts/VinterWeb-MediumItalic.woff2') format('woff2'),
         url('/fonts/VinterWeb-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('/fonts/MaterialIcons-Regular.woff2') format('woff2'),
       url('/fonts/MaterialIcons-Regular.woff') format('woff'),
       url('/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/* overall style */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: Georgia, serif;
  background-color: #333;
}

h1,h2,h3{
    font-family: 'Vinter Web', Georgia, serif;
}

h4,h5,h6{
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s;
}

button:focus {
  outline:0;
}

textarea:focus, input:focus{
    outline: none;
}

/* General utilities */

.opacity-50{
  opacity: 0.5!important;
}

.opacity-100{
  opacity: 1!important;
}

.flex {
  display: flex;
}

.padding-r-l-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-left-30 {
  padding-left: 30px;
}

.overflow-y {
  overflow-y: auto!important;
}

.shadow {
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.5);
}

.fullheight {
  height: 100%;
}

/* common styles for theme */
.list-heading {
  height: 100px;
  position: fixed;
  left: 58px;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #DBDBD0;
  display: flex;
}

.list-heading h2 {
  margin-left: 20px;
  padding-top: 30px;
}

.list-heading-closed {
  right: 20%;
}

/* common styles for education & manual pages */
.whitebackground-container {
  background-color: #fff;
  padding: 20px;
  padding-left: 30px;
  padding-top: 0px;
}

.red-subtitle {
  color: #F36455;
  text-transform: uppercase;
}

.pointer{
  cursor: pointer;
}

.expandableItem__btn {
  margin-left: auto;
  border-radius: 100%;
  border: 0.5px solid #DBDBD0;
  padding: 4px;
  width: 40px;
  background-color: #fff;
  font-size: 22px;
  height: 40px;
}

.expandableItem__btn:hover {
  background-color: #333;
  color: #fff;
}

@media (max-width: 991px) {
  .list-heading {
    left: 0;
    padding-left: 60px;
  }
  .list-heading-closed {
    right: 25%;
  }
}


@media (max-width: 767px) {
}

.popover {
  z-index: 10000 !important;
}
