/* fonts */
@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-MediumItalic-Web.eot');
  src: url('/fonts/AtlasGrotesk-MediumItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-MediumItalic-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-MediumItalic-Web.woff') format('woff');
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}

.AtlasGrotesk-MediumItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-Medium-Web.eot');
  src: url('/fonts/AtlasGrotesk-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-Medium-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-Medium-Web.woff') format('woff');
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Medium-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  500;
  font-style:   normal;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-RegularItalic-Web.eot');
  src: url('/fonts/AtlasGrotesk-RegularItalic-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-RegularItalic-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-RegularItalic-Web.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}

.AtlasGrotesk-RegularItalic-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}


@font-face {
  font-family: 'Atlas Grotesk Web';
  src: url('/fonts/AtlasGrotesk-Regular-Web.eot');
  src: url('/fonts/AtlasGrotesk-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('/fonts/AtlasGrotesk-Regular-Web.woff2') format('woff2'),
       url('/fonts/AtlasGrotesk-Regular-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

.AtlasGrotesk-Regular-Web {
  font-family: 'Atlas Grotesk Web';
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
    font-family: 'Behrens Antiqua';
    src: url('/fonts/solotype_-_behrens_antiqua_normal-webfont.woff2') format('woff2'),
         url('/fonts/solotype_-_behrens_antiqua_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.BehrensAntiqua {
  font-family: 'Behrens antiqua';
  font-weight:  normal;
  font-style:   normal;
}

@font-face {
  font-family: 'Vinter Web';
  src: url('/fonts/VinterWeb-Medium.eot');
  src: url('/fonts/VinterWeb-Medium.eot?#iefix') format('embedded-opentype'),
     url('/fonts/VinterWeb-Medium.woff2') format('woff2'),
       url('/fonts/VinterWeb-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Vinter Web';
    src: url('/fonts/VinterWeb-MediumItalic.eot');
    src: url('/fonts/VinterWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
    	 url('/fonts/VinterWeb-MediumItalic.woff2') format('woff2'),
         url('/fonts/VinterWeb-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}

/* overall style */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  /*font-family: sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,h2,h3{
    font-family: 'Vinter Web', Georgia, serif;
}

h4,h5,h6{
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  font-weight: 500;
}
a,a:hover {
  color: inherit;
  text-decoration: none;
}

button:focus {
  outline:0;
}

textarea:focus, input:focus{
    outline: none;
}

/* General utilities */
.flex {
  display: flex;
}

.padding-r-l-0 {
  padding-right: 0px;
  padding-left: 0px;
}

.padding-right-0 {
  padding-right: 0px;
}

.padding-left-30 {
  padding-left: 30px;
}

.overflow-y {
  overflow-y: auto!important;
}

.shadow {
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.5);
}

/* common styles for theme */
.list-heading {
  height: 100px;
  position: fixed;
  left: 60px;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #DBDBD0;
  display: flex;
}

.list-heading h2 {
  margin-left: 20px;
  padding-top: 30px;
}

.list-heading-closed {
  right: 20%;
}

/* common styles for education & manual pages */
.whitebackground-container {
  background-color: #fff;
  padding: 20px;
  padding-left: 30px;
  padding-top: 0px;
}

.red-subtitle {
  color: #F36455;
  text-transform: uppercase;
}

.expandableItem__btn {
  margin-left: auto;
  border-radius: 100%;
  border: 0.5px solid #DBDBD0;
  padding: 4px;
  width: 40px;
  background-color: #fff;
  font-size: 22px;
  height: 40px;
}

.expandableItem__btn:hover {
  background-color: #333;
  color: #fff;
}
