body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
}

button:focus {outline:0;}

.Collection__SideBarRight {
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  bottom: 0;
}
