.EducationFooter__wrapper {
  margin-top: 30px;
  background-color: #F36455;
  color: #fff;
}

.EducationFooter__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}
.EducationFooter__wrapper h5 {
  font-weight: normal;
  font-size: 1rem
}

.EducationFooter__Btn {
  border-radius: 9999px;
  text-transform: uppercase;
  font-family: 'Atlas Grotesk Web', Arial, sans-serif;
  color: rgb(41, 43, 44) !important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

  .EducationFooter__wrapper h5 {
    font-size: 1.25rem;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {


}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
