.EducationFooter__wrapper {
  background-color: #F36455;
  color: #fff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.EducationFooter__content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.EducationFooter__wrapper h5 {
  font-weight: normal;
  font-size: 1rem
}

.EducationFooter__Btn {
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  border-color: transparent;
  text-transform: uppercase;
  background-color: #fff;
  font-family: 'Atlas Grotesk Web';
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .EducationFooter__wrapper {
    background-color: #F36455;
    color: #fff;
    position: fixed;
    bottom: 0px;
    left: 58px;
    right: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .EducationFooter__wrapper h5 {
    font-size: 1.25rem;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }
