.OtherTeachersCard__Card {
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #DBDBD0;
  padding: 15px;
  margin-right: 25px;
}

.OtherTeachersCard__Card > *{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OtherTeachersCard__title {
  margin-bottom: 15px;
  font-weight: bold;
}


.OtherTeachersCard__Card p{
  margin-top: 1px;
  margin-bottom: 1px;
  font-family: 'Atlas Grotesk Web';
  font-weight: 400;
}

.OtherTeachersCard__project_link{
  margin-top: 15px;
  font-family: 'Atlas Grotesk Web';
  font-weight: 400;
  color: #F56350;
  display: inline-flex;
  border-radius: 23px;
}

.OtherTeachersCard__project_link .material-icons{
  padding-left: 10px;
}
