/*.SwitchModule-enter {
  position: absolute;
  width: calc(100%);
  height: 100%;
  transform: translateY(-100%);
}

.SwitchModule-enter.SwitchModule-enter-active {
  transform: translateY(0);
  transition: transform 500ms ease-in;
}*/

.SwitchModule-enter {
  position: absolute;
  opacity: 0;
  top: 0;
  width: calc(100% - 58px);
  bottom: 0;
  /*z-index: 10000;*/
}

.SwitchModule-enter.SwitchModule-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.SwitchModule-leave {
  opacity: 1;
}

.SwitchModule-leave.SwitchModule-leave-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
