.Education__h6 {
  color: #F36455;
  text-transform: uppercase;
  padding-bottom: 15px;
  padding-top: 25px;
}

.Education__ManualsRow > div {
  display: flex;
}

.Education__Card-container {
  overflow: auto;
  display: inline-flex;
  width: 100%;
}

.Education__OtherTeachersRow {
  padding-bottom: 85px;
  border-top: 1px solid #DBDBD0;
}
